/* Extra small devices (portrait phones, less than 576px)
 * No media query since this is the default in Bootstrap
 *
 *
 *   Small devices (landscape phones, 576px and up) 
 *  @media (min-width: 576px) {  }

 *   Medium devices (tablets, 768px and up) 
 *  @media (min-width: 768px) {  }

 *   Large devices (desktops, 992px and up) 
 *  @media (min-width: 992px) {  }

 *   Extra large devices (large desktops, 1200px and up)
 *  @media (min-width: 1200px) {  }
 */
a {
   color: #005591;
   transition: color 0.15s ease-in-out;
}
a:hover {
   color: #fd591f;
}
body {
   color: #005591;
}
section {
   padding-top: 120px;
}
footer {
   background: #005591;
   border-top: 4px solid #003459;
   color: #fff;
   margin-top: 40px;
   padding: 30px 45px;
}
footer .copyright {
   font-size: 0.9rem;
}
footer .footer-nav {
   display: flex;
   justify-content: space-around;
}
.footer-nav a {
   color: #fff;
   text-decoration: none;
}
.heading {
   display: block;
   margin-bottom: 30px;
   text-transform: uppercase;
}
.heading::after {
   background: #fd591f;
   content: " ";
   display: block;
   height: 2px;
   margin: 18px 0px;
   width: 60px;
}
.social-links {
   padding: 10px;
}
.social-links .link-item {
   border-radius: 50%;
   border: 1px solid #fd591f;
   color: #fd591f;
   display: inline-block;
   margin-right: 8px;
   padding: 8px;
}
.carousel img {
   max-height: 640px;
}
.carousel-control-next-icon > svg,
.carousel-control-prev-icon > svg {
   font-size: 92px;
}

p.lead {
   line-height: 2.0;
}
.h-links {
   margin-top: 80px;
}
.h-link.h1, .h-link.h2,
.h-link.h3, .h-link.h4,
.h-link.h5, .h-link.h6 {
   display: inline-block;
   font-weight: 300;
   letter-spacing: 0px;
   margin-right: 20px;
   text-decoration: none;
}
.picasso {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.picasso img {
   margin-top: 14px;
}
.highlight {
   background: #005591;
   color: #fff;
   padding: 50px 40px;

}
.highlight .heading::after {
   background: #fff;
}
.highlight .h3,
.highlight .h4,
.highlight .h5,
.highlight .h6 {
   color: #fff;
   font-weight: 400;
}
.highlight .h4 {
   margin: 20px 0px;
}
.highlight .highlight-item {
   border-bottom: 1px solid #fff;
   margin-left: 12px;
   padding-top: 12px;
   padding-bottom: 24px;
}
.highlight-item span {
   display: block;
   font-size: 0.85rem;
   margin-bottom: 20px;
   margin-top: 20px;
}

.highlight-item .h3 > span {
   line-height: 1.42;
   margin-left: 8px;
   margin-top: 0px;
}
.highlight .btn {
   background: #005591;
   color: #fff;
   border: 1px solid #fff;
}
.highlight .btn:hover {
   background: #fff;
   color: #005591;
}
.highlight .highlight-text {
   font-size: 0.92rem;
}
.info-card {
   background: #005591;
   border-radius: 0px;
}
.info-card .card-img-top {
   margin: auto;
   padding: 40px;
}
.info-card .card-icon {
   background: #003459;
   border: 2px solid #fff;
   border-radius: 50%;
   display: block;
   margin: auto;
   padding: 64px 10px;
}
.card-icon > svg {
   color: #fff;
   font-size: 44px;
   vertical-align: middle;
   width: 100% !important;
}
.info-card .card-title.h4,
.info-card .card-title.h5,
.info-card .card-title.h6 {
   color: #fff;
   font-weight: 400;
   text-align: center;
}
.image-card {
   border: none;
}
.image-card img {
   max-width: 100%;
}
.sponsors {
   border-bottom: 1px solid #ccc;
}
.sponsor {
   align-items: flex-end;
   display: flex;
   min-height: 100%;
   min-width: 100%;
}
.sticky-link {
   display: flex;
   font-size: 0.78rem;
   justify-content: flex-end;
   margin-bottom: 20px;
}
.sticky-link a {
   margin-right: 5px;
   text-decoration: none;
}
.arrow-right {
   border-bottom: 7px solid transparent;  /* left arrow slant */
   border-top: 7px solid transparent; /* right arrow slant */
   border-left: 12px solid #fd591f; /* bottom, add background color here */
   font-size: 0;
   height: 0;
   margin-left: 8px;
   vertical-align: middle;
   width: 0;
}
.navbar .form-inline .input-group {
   border-bottom: 1px solid #003459;
}
.navbar .form-inline input {
   border: none;
   border-radius: 0px;
}
.navbar .form-inline .input-group-append button {
   border: none;
   padding: 0.35rem 0.5rem;
}